/* =========================================
   I'M ALONE
   ========================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    background:#000;

    display:flex;

    justify-content:center;

    align-items:center;

}

/* Canvas */

canvas{

    image-rendering:auto;

    display:block;

    background:#000;

    box-shadow:0 0 40px rgba(0,0,0,.7);

}